
@{
    ViewData["Title"] = "first";
}




<form method="post" action="@Url.Action("Index","Home")">
   <input name="id" />  <button type="submit">Перейти на нову сторінку</button>

   
    
</form>

